*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    background-color: #333;
    user-select: none;
}

input{
    opacity: 0;
    position: absolute;
    top: 0;
    left: 0;
}

body{
    display: grid;
    justify-items: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}

.knob-container{
    position: relative;
    width: 95%;
    height: 80%;
    border: 1px solid red;
    display: flex;
    border-radius: 5px;
}

.knob-spot{
    height: 100%;
    width: 100%;
    border: 1px solid green;
    display: grid;
    align-items: center;
    justify-items: center;
    border-radius: 5px;
}

.knob{
    border: 1px solid yellow;
    border-radius: 50%;
    width: 75px;
    height: 75px;
    cursor: pointer;
}

.knob:hover{
    background-color: #444;
}

.knobDot{
    position: absolute;
    width: 10px;
    height: 10px;
    top: 30px;
    left: 5px;
    border-radius: 50%;
    border: 2px solid green;
}

.switch{
    width: 50px;
    height: 75%;
    border: 1px solid green;
    border-radius: 5px;
    cursor: pointer;
}

.switch:hover{
    background-color: #444;
}

.twoButtons-container{
    display: flex;
    flex-direction: column;
    width: 60%;
    height: 90%;
    justify-content: center;
}

.twoButtons-container div{
   border: 1px solid green;
   color: white;
   padding: 5px;
   border-radius: 5px;
   cursor: pointer;
   padding: 10px 5px;
}

.twoButtons-container div:hover{
    background-color: #444;
}

.selector{
    width: 50px;
    height: 75%;
    border: 1px solid green;
    border-radius: 5px;
    cursor: pointer;
}

.selector:hover{
    background-color: #444;
}

.control-container{
    position: relative;
    background-color: #333;
    border: 5px #111;
    border-style: solid;
    border-radius: 15px;
    display: grid;
    align-items: center;
    justify-items: center;
    height: 100%;
}

.container-label{
    position: absolute;
    left: 15px;
    top: -28px;
    color: white;
    font-size: 1.5rem;
    padding: 10px;
    background-color: #333;
    width: fit-content;
}

.osc-group{
    display: flex;
    flex-direction: column;
    height: 100%;
}

div[id="key-C4"]{
    left: 0;
    bottom: 0;
}
div[id="key-C#4"]{
    left: 30px;
    bottom: 50px;
}
div[id="key-D4"]{
    left: 60px;
    bottom: 0;
}
div[id="key-D#4"]{
    left: 90px;
    bottom: 50px;
}
div[id="key-E4"]{
    left: 120px;
    bottom: 0;
}
div[id="key-F4"]{
    left: 180px;
    bottom: 0;
}
div[id="key-F#4"]{
    left: 210px;
    bottom: 50px;
}
div[id="key-G4"]{
    left: 240px;
    bottom: 0;
}
div[id="key-G#4"]{
    left: 270px;
    bottom: 50px;
}
div[id="key-A4"]{
    left: 300px;
    bottom: 0;
}
div[id="key-A#4"]{
    left: 330px;
    bottom: 50px;
}
div[id="key-B4"]{
    left: 360px;
    bottom: 0;
}
div[id="key-C5"]{
    left: 420px;
    bottom: 0;
}
div[id="key-C#5"]{
    left: 450px;
    bottom: 50px;
}
div[id="key-D5"]{
    left: 480px;
    bottom: 0;
}
div[id="key-D#5"]{
    left: 510px;
    bottom: 50px;
}
div[id="key-E5"]{
    left: 540px;
    bottom: 0;
}
div[id="key-F5"]{
    left: 600px;
    bottom: 0;
}
div[id="key-F#5"]{
    left: 630px;
    bottom: 50px;
}
div[id="key-G5"]{
    left: 660px;
    bottom: 0;
}
div[id="key-G#5"]{
    left: 690px;
    bottom: 50px;
}
div[id="key-A5"]{
    left: 720px;
    bottom: 0;
}
div[id="key-A#5"]{
    left: 750px;
    bottom: 50px;
}
div[id="key-B5"]{
    left: 780px;
    bottom: 0;
}
div[id="key-C6"]{
    left: 840px;
    bottom: 0;
}
.key{
    position: absolute;
    background-color: #333;
    border: 1px solid #111;
    width: 65px;
    height: 100px;
    padding: 25px;
    font-size: 1.5rem;
    transition: 200ms;
    line-height: 110px;
    color: white;
}
.sharp{
    z-index: 9999;
}
.pressed{
    background-color: chartreuse;
    color: black;
}

#keyboard{
    position: relative;
    width: 905px;
    height: 150px;
}

#keyboard-container{
    display: grid;
    align-content: center;
    justify-content: center;
}

.moduleSlot{
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
}

#mainLayout{
    width: 95vw;
    height: 95vh;
    border-radius: 15px;
    display: grid;
    gap: 25px;
    grid-template-areas: "osc1 osc1 osc1 master"
                         "osc2 osc2 osc2 master"
                         "adsr adsr delay dist"
                         "keyboard keyboard keyboard keyboard";
}