*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
}
body{
    background-color: black;
    color: white;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    padding: 50px;
}
input[type="range"]{
    margin: 25px 50px;
    width: 65%;
}
input[type="radio"]{
    margin: 5px 50px;
}
#controlsContainer{
    display:flex
}
#osc1controls{
    width: 50%
}
#osc2controls{
    width: 50%
}
#adsr{
    border: 1px solid #333;
    padding: 5px;
    margin-top: 25px;
    display: flex;
    flex-direction: column;
}
#adsr2{
    border: 1px solid #333;
    padding: 5px;
    margin-top: 25px;
    display: flex;
    flex-direction: column;
}
#adsr div{
    width: 100%;
}

#extraControls{
    position: absolute;
    width: 390px;
    height: 200px;
    padding: 15px;
    bottom: 25px;
    right: 540px;
    background-color: #333;
    border-radius: 10px;
}

hr{
    border: 1px solid #555;
}

#extraControls input{
    margin: 20px 10px;
}

#keyboard{           
    position: absolute;
    display: flex;
    border: 2px solid #333;
    width: fit-content;
    margin: 175px 20px;
    background-color: red;
}

#distDiv{
    display: inline;
    padding: 5px 5px;
    border: 1px solid #333;
    border-radius: 5px;
    cursor: pointer;
    user-select: none;
}
#distDiv:hover{
    background-color: rgb(96, 192, 0);
}

.activated{
    background-color: chartreuse;
    color: black;
}

#help{
    position: absolute;
    right: 25px;
    bottom: 25px;
    background-color: #333;
    width: 500px;
    height: 200px;
    padding: 25px;
    font-size: 1.5rer;
    border-radius: 10px;
}

div[id="key-C4"]{
    position: absolute;
    left: 0;
    bottom: 0;
}
div[id="key-C#4"]{
    position: absolute;
    left: 30px;
    bottom: 50px;
}
div[id="key-D4"]{
    position: absolute;
    left: 60px;
    bottom: 0;
}
div[id="key-D#4"]{
    position: absolute;
    left: 90px;
    bottom: 50px;
}
div[id="key-E4"]{
    position: absolute;
    left: 120px;
    bottom: 0;
}
div[id="key-F4"]{
    position: absolute;
    left: 180px;
    bottom: 0;
}
div[id="key-F#4"]{
    position: absolute;
    left: 210px;
    bottom: 50px;
}
div[id="key-G4"]{
    position: absolute;
    left: 240px;
    bottom: 0;
}
div[id="key-G#4"]{
    position: absolute;
    left: 270px;
    bottom: 50px;
}
div[id="key-A4"]{
    position: absolute;
    left: 300px;
    bottom: 0;
}
div[id="key-A#4"]{
    position: absolute;
    left: 330px;
    bottom: 50px;
}
div[id="key-B4"]{
    position: absolute;
    left: 360px;
    bottom: 0;
}
div[id="key-C5"]{
    position: absolute;
    left: 420px;
    bottom: 0;
}
div[id="key-C#5"]{
    position: absolute;
    left: 450px;
    bottom: 50px;
}
div[id="key-D5"]{
    position: absolute;
    left: 480px;
    bottom: 0;
}
div[id="key-D#5"]{
    position: absolute;
    left: 510px;
    bottom: 50px;
}
div[id="key-E5"]{
    position: absolute;
    left: 540px;
    bottom: 0;
}
div[id="key-F5"]{
    position: absolute;
    left: 600px;
    bottom: 0;
}
div[id="key-F#5"]{
    position: absolute;
    left: 630px;
    bottom: 50px;
}
div[id="key-G5"]{
    position: absolute;
    left: 660px;
    bottom: 0;
}
div[id="key-G#5"]{
    position: absolute;
    left: 690px;
    bottom: 50px;
}
div[id="key-A5"]{
    position: absolute;
    left: 720px;
    bottom: 0;
}
div[id="key-A#5"]{
    position: absolute;
    left: 750px;
    bottom: 50px;
}
div[id="key-B5"]{
    position: absolute;
    left: 780px;
    bottom: 0;
}
div[id="key-C6"]{
    position: absolute;
    left: 840px;
    bottom: 0;
}
.key{
    background-color: #333;
    border: 1px solid #111;
    width: 65px;
    height: 100px;
    padding: 25px;
    font-size: 1.5rem;
    transition: 200ms;
    line-height: 110px;
}
.sharp{
    z-index: 9999;
}
.pressed{
    background-color: chartreuse;
    color: black;
}

#knob2{
    width: 300px;
    height: 300px;
    border-radius: 50%;
    position: absolute;
    top: 250px;
    left: 650px;
    background-color: red;
    z-index: 9999;
    user-select: none;
    cursor: grab;
}

#knob{
    width: 300px;
    height: 300px;
    border-radius: 50%;
    position: absolute;
    top: 250px;
    left: 250px;
    background-color: red;
    z-index: 9999;
    user-select: none;
    cursor: grab;
}

.knobDot{
    width: 10px;
    height: 10px;
    background-color: green;
    position: absolute;
    top: 150px;
    left: 0;
    width: 100px;
}

#selector{
    width: 100px;
    height: 100px;
    position: absolute;
    top: 0;
    left: 0;
    background-color: blue;
    z-index: 100000;
}

#switch{
    width: 50px;
    height: 50px;
    position: absolute;
    top: 0;
    left: 250px;
    background-color: yellow;
    z-index: 100000;
}